<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ConnectionString" value="Data Source=172.16.4.204;Initial Catalog=SoonnetSGL;User ID=Lok;Password=Ly$2013070550$;Persist Security Info=True; Max Pool Size = 512;"/>
    <add key="APP_ID:API_KEY:SECRET_KEY" value="16550139:uVciedbCwBE2KvMoGUxMiGCO:e34b8ENUQ53el2G829FCHZRpq2G96jqC"/>
  </appSettings>
</configuration>
